* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: 
    linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)),
    url('../img/fundo7.jpg');
  background-size: 100vw 100vh;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 400px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 22px;
  }
}

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.menu {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  color: teal;
  display: block;
  padding: 10px;
  text-decoration: none;
  transition: background-color 1s, color 1s;
}

.menu a:active,
.menu a:hover {
  background-color: teal;
  color: whitesmoke;
}

.site-title {
  color:teal;
  font-family: 'Dancing Script', cursive;
  font-size: 4em;
  line-height: 1em;
  margin-bottom: 20px;
  text-align: center;
}

.site-subtitle {
  color: rgba(122, 112, 112, 0.966);
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  font-size: 2em;
}


.sobre
{
  background: whitesmoke;  
  padding: 1em;
  height: 100vh;
  
}

.contato {
  background: whitesmoke;  
  padding: 1em;
  height: 30vh;
}

.sobre h2,
.contato h2,
.portfolio h2 {
  color: teal;
  /*font-family: 'Ro', cursive;*/
  margin-top: 2em;
  margin-left: 2em;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.7em;
  margin-bottom: .5em;
}

.sobre{
	background:whitesmoke;
	color:teal;
	font-size:1em;
	line-height: 1.7em;
	padding:1em 1em 3em 1em;
	display:flex;
	justify-content:center;
	align-items:center;
}

.texto-sobre{
	padding:2em;
}

.grid-sobre{
	display:grid; /*declaracao do grid*/;
	gap:1em;
	background:whitesmoke;
	grid-template-columns:300px 800px;
	height:auto;
	width:auto;
}


.div-selfie{
	text-align:center;
	margin:4.5em auto 0 auto;
}

.div-selfie img{
	width:180px;
	clip-path: circle(50% at 50% 50%);
}

.grid {
  display: grid;
  color: teal;
  gap: 4em;
  align-content: center;
  justify-content: center;
  grid-template-columns:300px 300px 300px 300px;  
  
}

.curriculo{
	background:whitesmoke;
	height:auto;
	font-size:.8em;
	line-height: 1.5em;
	color: teal;
	padding:3em 1em 1em 1em;
	display:grid;
	justify-content:center;
	align-items:center;
}


.grid-curriculo{
	display:grid; /*declaracao do grid*/;
	gap:1em;
	background:whitesmoke;
	grid-template-columns:300px 800px;

}

.div-titulo-cv{
	text-align:center;
	margin:0 auto;
	padding:2em;
}

.div-titulo-cv h2{
	padding-bottom:0.4em;
	border-bottom:3px solid black;
	text-transform: uppercase;
	font-size:1.2em;
}


.div-texto-cv h3{
	margin-bottom: 1.1em;
	font-weight:400;
	color:teal;
}

.div-texto-cv{
	padding:2em;
}

.div-texto-cv p{
	margin-bottom:2.2em;
}

.instituicao-cv {
	font-family: 'roboto', serif;
}

.portfolio{
  height:auto;
	padding:2em;
	background:whitesmoke;
	justify-content: center;
  align-content: center;  
  width: 100vw;
}


/*@media (min-width: 400px) {
  .contato,
  .portfolio {
    padding: 3em 2em 2em;
    height: 100vh;
  }

   .grid {
    grid-template-columns: 200px 200px;
    height: calc(100vh - 4.5em - 75px);
  }


}

@media (min-width: 940px) {
  .contato,
  .portfolio {
    padding: 2em;
  }

   .grid {
    grid-template-columns: repeat(4, 200px);
    height: calc(100vh - 8em - 75px);
  }
  
}*/

@media (max-width: 1028px){
  .grid-sobre{
    grid-template-columns:repeat(1, auto);
    padding:1em;
  
  }

  .texto-sobre{
		height:auto;
		padding:0;
  }
  
  .grid-curriculo{
    grid-template-columns:repeat(1, auto);
  
  }
  
  .div-texto-cv{
		padding:1em;
  }
  
  .grid{
    grid-template-columns:repeat(1, auto);
    padding:1em;    
  }
}

.portfolio figcaption {
  font-weight: bold;
}

.img-portfolio {
  border-radius: 10px;
  height: 230px;
  width: 230px;
  object-fit: cover;  
  transition: transform 500ms;
}

.img-portfolio:hover {
  transform: scale(1.3);
  
}

/*.icons a {
  color: white;
  font-size: 6em;
}*/

.contato .icons {
  text-align: center;
}

.contato a {
  color: black;
  font-size: 4em;
  text-decoration: none;
}

.contato a:active,
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px black;

}